.profile-img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;       
  border: 4px solid #dee2e6; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

  .skill-badge {
    font-size: 0.75rem;
  }
  
  .btn-hover:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    opacity: 0.9;
  }

  .shiny-maroon {
    color: maroon;
    text-shadow: 0 0 5px #ffcccc, 0 0 10px maroon;
    font-weight: bold;
  }
  